<h1>PhotoSite User List</h1>

<p>There are <%=User.count%> users</p>

<table>
  <tr>
    <th>User</th>
    <th>FirstName</th>
    <th>LastName</th>
  </tr>
  <% User.all.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.first_name, photo_link_path(user.id)%></td>
        <td><%= link_to user.last_name, photo_link_path(user.id) %></td>

      </tr>
  <% end %>

</table>
